@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

$bg-form-color:#fbfbfb;
$border-color:#c8c8c8;
$link-hover:#1571b2;
$link:#2993de;
$placeholder-color:#a09f9f;
$shadow:#ccc;
$white:#fff;
$title-color:#939797;