@import '../scss/mixins';

@include global;

body {
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../../images/bg_pattern.jpg);
    display: -ms-flexbox;
    display: flex;
    min-width: 430px;
    position: relative;

    .form-signin {
        @include papers;
        margin: 0 auto 20px;
        max-width: 230px;
        padding: 30px 80px;
        position: relative;
        width: 100%;

        h5 {
            color: $title-color;
            font-weight: bold;
            letter-spacing: -1px;
        }

        .leaf {
            @include papers;
            height: 60px;
            left: -1px;
            position: absolute;
            width: 100%;
            z-index: -1;

            &.one {
                bottom: -7px;

            }

            &.two {
                bottom: -4px;
            }
        }

        .form-control {
            @include placeholder();
            @include box-shadow(inset -1px 1px 3px #eee);
            @include box-sizing(border-box);
            background-color: #f7f6f6;
            border: 1px solid #f2f1f1;
            color: #7a7e82;
            font-size: 16px;
            font-weight: 200;
            height: auto;
            margin: 0 0 6px 0;
            padding: 5px 40px 5px 10px;
            position: relative;
            z-index: 1;

            &:focus {
                z-index: 2;
            }
        }

        .custom-control-label {
            &::before {
                @include box-shadow(inset 0px 0px 4px #bcbcbc);
            }
        }

        .input-icon {
            color: #e2e1e1;
            font-size: 14px;
            position: absolute;
            right: 17px;
            top: 8px;
            z-index: 2;
        }

        .login-button {
            @include border-radius(3px);
            @include box-shadow(0 1px 2px $shadow);
            @include box-sizing(border-box);
            background-color: $link;
            border: 1px solid $link-hover;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            line-height: normal;
            margin: 10px auto;
            text-shadow: 1px 1px 0 #1c6497;
            width: 116px;

            &:hover {
                background-color: $link-hover;
            }
        }

        .checkbox {
            font-weight: 400;

            label {
                color: #939797;
                font-size: 12px;
                line-height: 26px;
                text-shadow: 1px 1px 0 #ddd;
            }
        }
    }

    .links {
        color: #787878;
        text-decoration: underline;

        &.first {
            font-size: 14px;
            font-weight: 600;
        }

        &.second {
            font-size: 13px;
            font-weight: 400;
            text-decoration: none;
        }

        span {
            color: $link;

            &:hover {
                color: $link-hover;
            }
        }
    }

    .trademark {
        margin: 0 auto;
        max-width: 470px;
        width: 100%;

        span {
            @include box-shadow(1px 1px 1px $white);
            background-color: #7b7b7b;
            color: $white;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            width: 30px;
        }

        h1 {
            @include box-shadow(1px 1px 1px #e0e0e0);
            background: $white;
            color: #b6b6b6;
            display: inline-block;
            font-size: 12px;
            font-style: italic;
            height: 30px;
            line-height: 33px;
            margin: 0;
            width: calc(100% - 40px);

            a {
                color: #b6b6b6;
                text-decoration: none;

                &:hover {
                    color: #1571b2;
                }
            }
        }
    }

    .alert {
        @include box-sizing(border-box);
        left: 10px;
        margin: 0;
        padding: 11px 25px 10px;
        position: absolute;
        top: 10px;
        width: calc(100% - 20px);

        p {
            font-weight: bold;
            margin: 0;
            text-align: right;
            text-shadow: 1px 1px 1px $white;
        }

        span.input-icon {
            position: absolute;
        }
    }
}