@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap");
html,
body {
  height: 100%;
}
html *,
body * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../../images/bg_pattern.jpg);
  display: -ms-flexbox;
  display: flex;
  min-width: 430px;
  position: relative;
}
body .form-signin {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc;
  background-color: #fbfbfb;
  border: 1px solid #c8c8c8;
  margin: 0 auto 20px;
  max-width: 230px;
  padding: 30px 80px;
  position: relative;
  width: 100%;
}
body .form-signin h5 {
  color: #939797;
  font-weight: bold;
  letter-spacing: -1px;
}
body .form-signin .leaf {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc;
  background-color: #fbfbfb;
  border: 1px solid #c8c8c8;
  height: 60px;
  left: -1px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
body .form-signin .leaf.one {
  bottom: -7px;
}
body .form-signin .leaf.two {
  bottom: -4px;
}
body .form-signin .form-control {
  -moz-box-shadow: inset -1px 1px 3px #eee;
  -webkit-box-shadow: inset -1px 1px 3px #eee;
  box-shadow: inset -1px 1px 3px #eee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f6f6;
  border: 1px solid #f2f1f1;
  color: #7a7e82;
  font-size: 16px;
  font-weight: 200;
  height: auto;
  margin: 0 0 6px 0;
  padding: 5px 40px 5px 10px;
  position: relative;
  z-index: 1;
}
body .form-signin .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a09f9f;
  font-size: 14px;
  font-weight: 300;
}
body .form-signin .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #a09f9f;
  font-size: 14px;
  font-weight: 300;
}
body .form-signin .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #a09f9f;
  font-size: 14px;
  font-weight: 300;
}
body .form-signin .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #a09f9f;
  font-size: 14px;
  font-weight: 300;
}
body .form-signin .form-control:focus {
  z-index: 2;
}
body .form-signin .custom-control-label::before {
  -moz-box-shadow: inset 0px 0px 4px #bcbcbc;
  -webkit-box-shadow: inset 0px 0px 4px #bcbcbc;
  box-shadow: inset 0px 0px 4px #bcbcbc;
}
body .form-signin .input-icon {
  color: #e2e1e1;
  font-size: 14px;
  position: absolute;
  right: 17px;
  top: 8px;
  z-index: 2;
}
body .form-signin .login-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2993de;
  border: 1px solid #1571b2;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  line-height: normal;
  margin: 10px auto;
  text-shadow: 1px 1px 0 #1c6497;
  width: 116px;
}
body .form-signin .login-button:hover {
  background-color: #1571b2;
}
body .form-signin .checkbox {
  font-weight: 400;
}
body .form-signin .checkbox label {
  color: #939797;
  font-size: 12px;
  line-height: 26px;
  text-shadow: 1px 1px 0 #ddd;
}
body .links {
  color: #787878;
  text-decoration: underline;
}
body .links.first {
  font-size: 14px;
  font-weight: 600;
}
body .links.second {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
body .links span {
  color: #2993de;
}
body .links span:hover {
  color: #1571b2;
}
body .trademark {
  margin: 0 auto;
  max-width: 470px;
  width: 100%;
}
body .trademark span {
  -moz-box-shadow: 1px 1px 1px #fff;
  -webkit-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  background-color: #7b7b7b;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
body .trademark h1 {
  -moz-box-shadow: 1px 1px 1px #e0e0e0;
  -webkit-box-shadow: 1px 1px 1px #e0e0e0;
  box-shadow: 1px 1px 1px #e0e0e0;
  background: #fff;
  color: #b6b6b6;
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  height: 30px;
  line-height: 33px;
  margin: 0;
  width: calc(100% - 40px);
}
body .trademark h1 a {
  color: #b6b6b6;
  text-decoration: none;
}
body .trademark h1 a:hover {
  color: #1571b2;
}
body .alert {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 10px;
  margin: 0;
  padding: 11px 25px 10px;
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
}
body .alert p {
  font-weight: bold;
  margin: 0;
  text-align: right;
  text-shadow: 1px 1px 1px #fff;
}
body .alert span.input-icon {
  position: absolute;
}

/*# sourceMappingURL=styles.css.map */
